
body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(28, 137, 201);
}

.quem-somos{
background-color:orangered;
color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color:rgb(7, 167, 42);
}

.bg-footer{
    background-color: black;
    color: white;
}